* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.headingg p {
  font-family: "Pacifico", cursive;
  font-size: 72px;
  background: -webkit-linear-gradient(#157cb3, #061fc2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro h1 {
  margin-top: 3vw;
  position: absolute;
}

.intro img {
  width: 8vw;
  margin-top: -18vh;
  position: static;
}

.iconbar {
  height: 12vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30vh;
}

body nav div a {
  display: flex;
  margin-left: 6vw;
  line-height: 2.5;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-weight: bold;
}

body nav div p {
  font-size: 1.5em;
  font-family: Satisfy;
  margin-left: 3vw;
}

.headingg {
  width: 100vw;
  height: 50vh;
  background-color: #13e8f163;
  display: flex;
  justify-content: center;
  background-color: #000035;
  opacity: 1;
  background-color: #3eecac;
  background-image: linear-gradient(146deg, #3eecac 0%, #ee74e1 100%);
}

body h1 div p {
  margin-top: 20vh;
  font-family: heebo;
}

.iconbar {
  height: 12vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.intro {
  width: 100vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  margin-top: 14vh;
}

.sub-intro {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
}

body article img {
  border-radius: 45%;
  width: 1vw;
  height: 15vh;
  position: absolute;
  margin-bottom: 4vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 100vw;
  height: 7vh;
  border: 2px inset rgb(0, 0, 0, 0.4);
  position: fixed;
  background-color: rgb(255, 255, 255, 0.98);
  line-height: 2.3;
  margin-left: 3.6vw;
}

body article div h1 {
  margin-top: 14vh;
  font-weight: bold;
  font-size: 2.85em;
}

body article div h2 {
  font-weight: 100;
  font-size: 1.5em;
}

.profilepic {
  border-radius: 50%;
  margin-left: 10vw;
  grid-row: 1/1;
  grid-column: 1/2;
}

.name {
  grid-row: 1/1;
  grid-column: 2/3;
}

.main {
  grid-row: 1/1;
  grid-column: 3/4;
}

.about {
  grid-row: 1/1;
  grid-column: 4/5;
  align-content: center;
}

.gallery {
  grid-row: 1/1;
  grid-column: 5/6;
  align-content: center;
}

.contactme {
  grid-row: 1/1;
  grid-column: 6/7;
  text-align: center;
}

.cvbutton {
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.cvbutton button {
  font-size: 10pt;
  width: 25vw;
  height: 8vh;
  background-color: #1ae0ec;
  opacity: 0.9;
  border-radius: 25px 25px 25px 25px;
}

.cvbutton button a {
  font-size: 1.45em;
  text-decoration: none;
  color: black;
  font-weight: 200;
}

.cardcontainer1,
.js-cardcontainer1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 3vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.cardcontainer1 p,
.js-cardcontainer1 p {
  font-size: 0.7rem;
}

.cardcontainer2,
.js-cardcontainer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 3vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.cardcontainer2 p,
.js-cardcontainer2 p {
  font-size: 0.7rem;
}

section {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 20vh;
}

section h1 {
  margin-top: 1vh;
  font-family: sans-serif;
  font-weight: bold;
  font-family: "Heebo";
  justify-content: center;
}

body nav div img {
  width: 4vw;
  height: 6vh;
  border-radius: 50%;
  margin-top: 0.3vh;
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 22vw;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.js-card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 22vw;
  margin: auto;
  text-align: center;
  font-family: arial;
}

button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #1ae0ec;
  text-align: center;
  cursor: pointer;
  width: 65%;
  font-size: 1rem;
  border-radius: 15px;
  margin-bottom: 4vh;
}

.card2,
.js-card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 22vw;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card3,
.js-card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 22vw;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card2-1,
.js-card2-1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 22vw;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card2-2,
.js-card2-2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 22vw;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card2-3,
.js-card2-3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 22vw;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.cardcontainer1 div h1 {
  font-size: 2rem;
}

.cardcontainer2 div h1 {
  font-size: 2rem;
}

.mailbox {
  position: relative;
  width: 100vw;
  height: 70vh;
  background-color: #3a3a3a;
  margin-top: 30vh;
}

.mailbox img {
  position: absolute;
  width: 38vw;
  height: 50vh;
  margin-left: 5vw;
}

.mailbox form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  direction: rtl;
  margin-left: 55vw;
  margin-top: 20vh;
  position: absolute;
}

form label {
  color: #ffffff;
  font-family: Heebo;
}

.mailbox button {
  width: 10vw;
  height: 4vh;
  position: absolute;
  margin-top: 55vh;
  margin-left: 74.9vw;
  background-color: #1ae0ec;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: bold;
}
.bottombar {
  width: 100vw;
  height: 15vh;
  background-color: #1ae0ec;
}
.bottombar img {
  width: 4vw;
  height: 4vh;
}

form input {
  border-bottom: 3px solid #1ae0ec;
}

.headingg p {
  color: #ffffff;
  font-weight: bold;
  font-size: 3rem;
}

.copyright {
  width: 100vw;
  height: 4vh;
  background-color: black;
}
.endd {
  width: 100vw;
  height: 1vh;
  background-color: #1ae0ec;
}

.bottombar .imgss {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  position: absolute;
  margin-top: 5vh;
  width: 100vw;
  height: 3vh;
}
.bottombar .subtitle {
  display: flex;
  position: absolute;
  margin-top: 10vh;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  height: 3vh;
  font-size: 0.7rem;
}

.copyright {
  color: #fff;
  display: flex;
  justify-content: center;
}

.bottombar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bottombar div {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  article .sub-intro {
    width: 85%;
    font-size: 0.8rem;
    margin-left: 3vw;
  }

  .cvbutton button {
    width: 65vw;
    font-size: 0.8rem;
  }

  .cardcontainer1 {
    display: flex;
    flex-direction: column;
  }
  .cardcontainer1 div {
    width: 100vw;
    border-radius: 10%;
    margin-top: 5vh;
    margin-left: -10vw;
  }

  section h1 {
    margin-left: 15vw;
  }

  .cardcontainer2 {
    display: flex;
    flex-direction: column;
  }
  .cardcontainer2 div {
    width: 100vw;
    border-radius: 10%;
    margin-top: 5vh;
    margin-left: -10vw;
  }

  .mailbox {
    width: 100vw;
  }

  .bottombar {
    width: 100vw;
  }

  .mailbox button {
    width: 20vw;
    margin-left: 65vw;
  }
}

.whatsapp img {
  width: 2vw;
  margin-left: 0.5vw;
}

.phone img {
  margin-left: -0.5vw;
}

.js-projects {
  width: 100vw;
  height: 80vh;
  background-color: black;
}

.js-caption {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.js-cardcontainer1 div {
  border-radius: 1em;
}

.js-cardcontainer2 div {
  border-radius: 1em;
}
